@import "../../styles.scss";

.left-pane {
  min-height: 100%;
  padding: 24px;
  border: 1px solid #eee;
}
.left-pane .mat-form-field {
  width: 100%;
}

.productCard {
  width: 100%;
  padding: 0;
  margin-bottom: 40px;
}
.productCard img {
  width: 400px;
}
.productCard .mat-card-content {
  padding: 32px;
}
.icon {
  width: 1000px;
  height: 1000px;
  font-size: 202px;
}
.active {
  background-color: burlywood;
  font-size: 15px;
}
.bookbackground{
  background: url(../../assets/cars/bookcarimage.jpg);
  background-repeat: no-repeat;
  background-size:cover;
}