<div fxLayout="column" fxLayoutAlign="center center">
  <br /><br />
  <div fxLayout="row" fxLayoutGap="56px" style="width: 80%">
    <div fxLayout="column" fxFlex="75">
      <h1>
        {{ service2.reviewIndvdata.title }}
      </h1>
      <div>
        <h3>
          {{ service2.reviewIndvdata.subtitle }}
        </h3>
      </div>
      <img
        src="{{ service2.reviewIndvdata.imgurl }}"
        alt="#"
        style="width: 100%"
        routerLink="/specifications"
      />
      <h2>{{ service2.reviewIndvdata.imgname }}</h2>
      <div style="width: 100%; height: 800px; padding-top: 16px">
        <!-- <h1>
          Rating:<br />

          <button mat-icon-button *ngFor="let rate of service2.ratingArray; index as i"
            (click)="service2.onclick(rate, service2.reviewIndvdata)" color="warn">
            <mat-icon>
              {{ service2.showIcon(rate) }}
            </mat-icon>
          </button>

        </h1> -->
        <h4>
          {{ service2.reviewIndvdata.description1 }}
        </h4>

        <video mat-video width="100%" height="450px" controls>
          <source src="{{ service2.reviewIndvdata.video }}" type="video/mp4" />

          Your browser does not support HTML video.
        </video>
        <h2 fxLayout="row" fxLayoutAlign="center center">Car Interior</h2>
        <h4>{{ service2.reviewIndvdata.description2 }}</h4>
        <img
          src="{{ service2.reviewIndvdata.imgurl2 }}"
          alt=""
          style="width: 100%"
        />
        <h2 fxLayout="row" fxLayoutAlign="center center">
          {{ service2.reviewIndvdata.view }}
        </h2>
        <h4>{{ service2.reviewIndvdata.description3 }}</h4>
      </div>
    </div>

    <div fxLayout="column" fxFlex="25">
      <div>
        <h1>Key Specifications of Model</h1>
        <mat-accordion>
          <mat-expansion-panel
            (opened)="panelOpenState = true"
            (closed)="panelOpenState = false"
          >
            <mat-expansion-panel-header>
              <mat-panel-title> Emission Norm Compliance </mat-panel-title>
            </mat-expansion-panel-header>
            <p>{{ service2.reviewIndvdata.emission }}</p>
          </mat-expansion-panel>
        </mat-accordion>
        <mat-accordion>
          <mat-expansion-panel
            (opened)="panelOpenState = true"
            (closed)="panelOpenState = false"
          >
            <mat-expansion-panel-header>
              <mat-panel-title> Maximum Power </mat-panel-title>
            </mat-expansion-panel-header>
            <p>{{ service2.reviewIndvdata.maxpower }}</p>
          </mat-expansion-panel>
        </mat-accordion>
        <mat-accordion>
          <mat-expansion-panel
            (opened)="panelOpenState = true"
            (closed)="panelOpenState = false"
          >
            <mat-expansion-panel-header>
              <mat-panel-title> Top Speed </mat-panel-title>
            </mat-expansion-panel-header>
            <p>{{ service2.reviewIndvdata.topspeed }}</p>
          </mat-expansion-panel>
        </mat-accordion>
        <mat-accordion>
          <mat-expansion-panel
            (opened)="panelOpenState = true"
            (closed)="panelOpenState = false"
          >
            <mat-expansion-panel-header>
              <mat-panel-title> Adjustable Driver Seat </mat-panel-title>
            </mat-expansion-panel-header>
            <p>{{ service2.reviewIndvdata.seatadjust }}</p>
          </mat-expansion-panel>
        </mat-accordion>
      </div>

      <mat-card class="ratingBlock">
        <div fxLayout="row" fxLayoutAlign="start center">
          <h2 class="spc-0">Give a rating</h2>
          <span class="spacer"></span>
          <h4>You rated {{ this.rating }} / {{ this.starCount }}</h4>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center">
          <button
            mat-icon-button
            *ngFor="let rate of ratingArray; index as i"
            (click)="submitRating(rate, service2.reviewIndvdata)"
            color="warn"
          >
            <mat-icon>
              {{ showIcon(i) }}
            </mat-icon>
          </button>
          <span class="spacer"></span>
          <mat-icon>{{ ratingRank }}</mat-icon>
        </div>
      </mat-card>
    </div>
  </div>
</div>
