<div>
  <div fxFlex="100" fxLayout="row" fxLayoutAlign="center start" class="card">
    <mat-card class="cSize">
      <mat-card-content>
        <mat-card-title class="align">LOGIN</mat-card-title>
        <!----------------------------------Loginform------------------------------->
        <!-- <mat-tab label="Login"> -->
        <form #loginform1="ngForm" name="loginform1">
          <div>
            <mat-form-field class="full-width">
              <input
                matInput
                placeholder="Email"
                type="email"
                required
                name="email"
                #email1="ngModel"
                [(ngModel)]="regObj.email"
                pattern="^([A-Z|a-z|0-9](\.|_){0,1})+[A-Z|a-z|0-9]\@(?:(?:[a-zA-Z0-9-]+\.)?[a-zA-Z]+\.)?(gmail)\.[a-zA-Z](-?[a-zA-Z])+$"
              />
              <mat-error *ngIf="email.errors?.['required']">
                enter your email</mat-error
              >
              <mat-error *ngIf="email1.touched && !email1.valid"
                >Enter a valid email</mat-error
              >
            </mat-form-field>
          </div>
          <div>
            <mat-form-field class="full-width">
              <input
                matInput
                placeholder="Password"
                type="password"
                required
                [type]="hide ? 'password' : 'text'"
                name="password"
                [(ngModel)]="regObj.password"
                minlength="8"
                pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                #password1="ngModel"
              />
              <mat-error *ngIf="password1.errors?.['required']">
                password is must for access</mat-error
              >
              <mat-error *ngIf="password1.touched && !password1.valid"
                >Enter a valid password</mat-error
              >
              <button
                mat-icon-button
                matSuffix
                (click)="hide = !hide"
                [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide"
              >
                <mat-icon>{{
                  hide ? "visibility_off" : "visibility"
                }}</mat-icon>
              </button>
            </mat-form-field>
          </div>
          <button
            mat-raised-button mat-dialog-close
            color="primary"
            (click)="onlogin()"
            [disabled]="loginform1.form.invalid"
          >
            Login
          </button>
        </form>
        <br />
        <div>
          <button mat-raised-button color="primary" (click)="oncreate()">
            Create Account?
          </button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
