<div fxLayout="row" fxLayoutAlign="center center" style="margin: 7%">
  <mat-card style="height:400px">
    <mat-icon (click)="closereceipt()" style="padding-left: 1254px">
      close
    </mat-icon>
    <div>
      <h4 fxLayoutAlign="center center">AUTOTRADERS PRIVATE LIMITED</h4>
      <div
        fxLayout="column wrap"
        fxLayoutAlign="center center"
        fxLayoutGap="20px"
      >
        <div>
          <div fxLayout="row " fxLayoutAlign="center center" fxLayoutGap="30px">
            <div>
              <mat-icon
                style="
                  color: green;
                  width: 55px;
                  height: 55px;

                  font-size: 60px;
                "
              >
                check_circle_outline
              </mat-icon>
            </div>
            <div fxLayout="column">
              <h5>Payment Successful</h5>
              <p class="r-14">Thank you, Your payment has been processed</p>
            </div>
          </div>
        </div>
        <div>
          <mat-divider></mat-divider>
          <div fxLayoutAlign="center center">
            <div fxLayoutGap="20PX">
              <div>&nbsp;</div>
              <p class="m-16-08">{{ today | date: "medium" }}</p>
              <p fxLayoutAlign="center center" class="m-16-08">
                AT-{{ service2.orderId }}
              </p>
            </div>
          </div>
          <div
            fxLayout="row wrap"
            fxLayoutAlign="center center "
            fxLayoutGap="650px"
          >
            <div fxLayout="row ">
              <div fxLayout="column wrap">
                <p class="r-14">Invoice</p>
                <p class="m-16-08" fxLayoutAlign="start">{{ invoice }}</p>
                &nbsp;

                <p class="r-14">Approval  code</p>
                <p class="m-16-08" fxLayoutAlign="start">APPROVE</p>
              </div>
            </div>
            &nbsp;
            <div fxLayout="row wrap">
              <div fxLayout="column">
                <p class="r-14" fxLayoutAlign="center">Transaction Amount</p>
                <p class="m-16-08" fxLayoutAlign="end">
                  {{ service2.reviewIndvdata.price | currency: "INR" }}
                </p>
                &nbsp;
                <p class="r-14" fxLayoutAlign="end end">Transaction ID</p>
                <p class="m-16-08" fxLayoutAlign="end">{{ TransactionId }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-card>
</div>
