// .productWrapper1{
//   margin: 24px 64px;
// }
// .productWrapper1 .catcard1{
//   height:700px;
//   padding: 24px;
//   width:1550px;
//   margin:32px;
// }

// .catcard1 img{
// width: 1000px;;
//   height:60%;
// }
.productWrapper1{
  margin: 24px 64px;
}
.productWrapper1 .catcard1{
  height:700px;
  padding: 24px;
  width:1550px;
  margin:32px;
}

.catcard1 img{
width: 50%;
  height:50%;
}
