.card {
  height: 450px;
  width: 1000px;
  background-image: url(https://tpc.googlesyndication.com/simgad/5431652203535429149);
  align-content: center;
}
.main_div {
  padding-top: 60px;
  padding-bottom: 60px;
}

.card3 {
  padding: 30px;
}
.browseBycard {
  min-height: 216px;
  cursor: pointer;
}
.browseBycard img {
  width: 116px;
  max-width: 100%;
}
